{% extends "base.html" %}

{% macro mailto(email) %}
    <a href="mailto:{{email}}">Send mail</a>
{% endmacro %}

{% block user %}
    {% if user %}
        <h3> Hello, {{ user.login }}!</h3>
    {% else %}
        <h3> Please login!</h3>
    {% endif %}
{% endblock %}


{% block content %}
    <div> Number of posts: {{ posts|length }} </div>
    {% if posts %}
        <table border="1">
            <tr>
                <th>User</th><th>Post</th><th>E-mail</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ "{} says:".format(post.author.name)}}</td>
                    <td>{{ post.body}}  </td>
                    <td>{{ mailto(post.author.get_email()) }} </td>
                </tr>

            {% endfor %}
        </table>
    {% endif%}
{% endblock %}